<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head">Head</th:block>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div th:object="${offer}"
            class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >

            <div class="card-body pb-1">
                <h5 class="card-title">
                    <th:block th:text="*{offerHighlight}"/></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Mileage <th:block th:text="*{mileage}"/> </span></div>
                    <div class="card-text"><span>• Price <th:block th:text="*{price}"/> </span></div>
                    <div class="card-text"><span>• Engine type <th:block th:text="*{engine}"/> </span></div>
                    <div class="card-text"><span>• Transmission type <th:block th:text="*{transmission}"/> </span></div>
                    <div class="card-text"><span>• Seller - <th:block th:text="*{getSellerFullName()}"/></span></div>
                </li>
            </ul>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top"  alt="Car image">
        </div>
    </div>
</div>

<div>
             <footer> </footer>
</div>

</body>
</html>
