<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head">Head</th:block>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
  <h2 class="text-center text-white">Delete Offer entering an Offer ID</h2>
  <form
          th:method="POST"
          th:action="@{/offers/delete}"
          th:object="${deleteOfferModel}"
          class="form-inline"
          style="justify-content: center; margin-top: 50px;">
    <div style="position: relative">
      <input
              th:field="*{uuid}"
              th:errorclass="is-invalid"
              class="form-control mr-sm-2"
              style="width: 280px;"
              type="search"
              placeholder="Offer UUID..."
              aria-label="Search"
              id="uuid"/>
      <small
              id="searchOfferHelpInline"
              class="bg-danger text-light rounded invalid-feedback"
              style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;">
              Please enter a UUID!
      </small>
    </div>
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Delete</button>
  </form>
</div>

</body>
</html>